# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig NRF_CLOUD_LOGS
	depends on NRF_CLOUD_MQTT || NRF_CLOUD_REST
	depends on !LOG_MODE_IMMEDIATE
	depends on !LOG_PRINTK
	depends on !LOG_MODE_MINIMAL
	select BASE64 if LOG_BACKEND_NRF_CLOUD_OUTPUT_DICTIONARY
	select RING_BUFFER
	bool "nRF Cloud Logging System"

config NRF_CLOUD_LOGS_LEVEL
	int "Only log entries less than or equal to this will be sent"
	range 0 4
	default 1
	help
	  Set overall log level for nRF Cloud logging. Set to 0 to
	  disable.

config NRF_CLOUD_LOG_BUF_SIZE
	int "Number of bytes to buffer in RAM before flushing"
	default 256
	help
	  Set size in bytes for buffer for log output system before it flushes.

if NRF_CLOUD_LOGS

config NRF_CLOUD_LOGS_SEQ_ALWAYS
	bool "Always include the sequence number in log messages"
	default y
	help
	  If set, send the seq field regardless of whether the ts field
	  is set.  If not set, only send the seq field when ts is not
	  available.

config NRF_CLOUD_LOG_RING_BUF_SIZE
	int "Size of buffer for log output before network transfer"
	default 2048
	help
	  Set size in bytes for buffer for log output system to combine log
	  messages before it uploads to nRF Cloud.

config NRF_CLOUD_LOG_DICT_JSON
	bool "Convert binary dictionary data to JSON and base64"
	default y if LOG_BACKEND_NRF_CLOUD_OUTPUT_DICTIONARY
	depends on BASE64
	help
	  Convert dictionary log output to base64, then wrap it in simple JSON
	  so binary-incapable network transfer can occur, at the price of a
	  slight increase in payload size.

backend = NRF_CLOUD
backend = NRF_CLOUD
backend-str = nrf_cloud
source "subsys/logging/Kconfig.template.log_format_config"

endif # NRF_CLOUD_LOGS

module = NRF_CLOUD_LOGGER
module-str = nRF Cloud Logs
source "subsys/logging/Kconfig.template.log_config"
